@tailwind base;
@tailwind components;
@tailwind utilities;

#weathermap { 
    height: 400px; 
    width: 100%;
    background-color: #2d3748; /* Tailwind's gray-800 */
}
.leaflet-container {
    background-color: #2d3748;
}
.leaflet-tile {
    filter: brightness(0.6) invert(1) contrast(3) hue-rotate(150deg) saturate(0.3) brightness(0.7);
}